body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  margin-top: 15vh;
}

input[type="text"] {
  padding: 10px 12px;
  font-size: 1.2em;
  margin-top: 20px;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black;
  width: 250px;
}

button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 1.1em;
  background-color: grey;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: #bfbfbf; /* etwas helleres Grau beim Hover */
}

button:active {
  background-color: #a6a6a6; /* dunkleres Grau beim Klicken */
}
